@{
    var db = Database.Open("StarterSite");
    var prod = db.Query(" SELECT * FROM Products WHERE Category = 'Diverse'");
    Layout = "~/_SiteLayout.cshtml";

    foreach (var row in prod) 
    { <!-- Såhär visas alla saker i en viss kategori. I detta fall Diverse. -->

        <div class="product_frame">
            <a href="~/ProductShow.cshtml?ID=@row.ProductID">
                <div id="image"><img src="@Href("~/" + row.Thumb)"/></div> 
                <div id="price">@row.Price:-</div>
            </a>
            <div class="buybutton">
                <a onclick="linkCat(@row.ProductID)"  href="#"><img src="~/Cart_pic.png" id="buy"/> | Buy</a>
            </div>
        </div>
    }
}