@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Simple Plan fanpage</title>
        <link type="text/css" rel="stylesheet" href="StyleSheet.css"/>
        <link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="menu">
            <div>
            <ul>
                <li>Contact</li>
                <li>Photos</li>
                <li>About</li>
            </ul>
            </div>
            </div>
        
        <div id="Content">
            
            @RenderBody()
        
        </div> 
    </body>
</html>
