<img alt="#" id="Header" src="~/images/SimplePlan.jpg"/>
<div class="about">
    <h1>Biography</h1>
    <p>The journey began in 1995 with the band name Reset. But only Charles-André "Chuck" 
        <br/>Comeau and Pierre Bouvier were the only ones that continued on to Simple Plan. 
        <br/>They toured around in Canada and got to increase their popularity shyly. After their first
        <br/> debut-album Chuck left the band for college. Two years later he met Jean-François "Jeff" 
        <br/>Stinco and Sébastien Lefebvre.They agreed to create a band together. At the same time 
        <br/>Reset published their second album. 1999 Chuck and Pierre were united again on a Sugar 
        <br/>Ray concert. 
    </p>
    
    <p>After that Pierre desided to leave Reset and reunite with Chuck. David Desrosier replaced 
        <br/>Pierre in Reset, but he also got asked to join Simple Plan and then he left too. This gave Pierre, who was both frontman of the band 
        and played the base, a chance to focus more on the song. They didn't quite know what to call their band back then, the only thing they knew 
        where that they all liked the movie "A Simple Plan" and that the band was their escape from a job. They never figured out anything better 
        and desided to stick with the name since they needed one for their upcomming concert. 
    </p>
    
    <p>
        In 2002 Simple Plan released their first studio album which lead to 
        singles like "I'm just a kid", "Perfect", "I'd do anything" and "Addicted". They've announced that they're a pure pop-punk band. The albums 
        name comes from the rudby tagline "No pads, no helmets, no pussies." as they named the albume "No pads, no helmets... just balls". The album
        was only supposed to be released in USA but it came to Europe aswell. By 2003 Simple Plan had already been opening band for Avril Lavinge,
        Green Day and Good Charlotte. They've had over 300 gigs and had a sold out concert in Japan. In 2003-2005 they've been in the Vans Warped Tour.
    </p>
    
    <p>
        2004 they release another album ("Still not getting any...") with songs such as "Untitled", "Welcome To My Life" and "Shut up!". 
        They've now changed their genre from pop/punk to "good music". The name has different stories depending on who you ask. According to 
        Pierre it comes from not getting good reviews. This year they also released a DVD about themselves and their lives in Simple Plan.
    </p>
    <p>
        2006 they started working on their third album. They wanted to do something different, something they hadn't done before. They also got help
        from producers they haven't worked with before. They worked with Dave Fortman who has helped producing 2 of Evanescences album, Danjahanz who
        worked with Timbaland and Justin Timberland and Max Martin who has worked with Avril Lavigne and Kelly Clarkson. The album is simply called 
        "Simple Plan"
    </p>
    <p>
        Their latest album - Get your heart on, has many featuring artists such as Alex Gaskarth from All Time Low and Sean Paul. But not only them, 
        they also took help from their fans. They tweeted that they wanted to know their fans favorite songs and lines. They collected all of the 
        suggestions and made it in to a song - "This Song Saved My Life" which is a very touching song about how the members of Simple Plan got helped
        from all their fans. 
    </p>
</div>
    <div class="bm"><img src="~/images/Pierre.jpg" alt="#" class="Members"/><p>Pierre Bouvier</p></div>
    <div class="bm"><img src="~/images/David.jpg" alt="#" class="Members"/><p>David Desrosier</p></div>
    <div class="bm"><img src="~/images/Jeff.jpg" alt="#" class="Members"/><p>Jeff Stinco</p></div>
    <div class="bm"><img src="~/images/Sebastien.jpg" alt="#" class="Members"/><p>Sebastien Lefebvre</p></div>
    <div class="bm"><img src="~/images/Chuck.jpg" alt="#"class="Members"/><p>Chuck Comeau</p></div>