@{
    var Title="";
    var Content="";
    var PostID="";

    if(!IsPost){
        if(!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt()){
            PostID = Request.QueryString["id"];
            var db = Database.Open("Blogg");
            var dbCommand = "SELECT * FROM Blog WHERE ID=@0";
            var row = db.QuerySingle(dbCommand, PostID);
            
            if(row != null){
                Title = row.Title;
                Content = row.Content;
            }
            else {
                Validation.AddFormError("No post was found for that ID.");
            }
        }
        else {
                Validation.AddFormError("No post was found for that ID.");
        }
    }
    if(IsPost && !Request["buttonDelete"].IsEmpty()){
        PostID=Request.Form["PostID"];
        var db= Database.Open("Blogg");
        var deleteCommand = "DELETE FROM Blog WHERE ID = @0";
        db.Execute(deleteCommand, PostID);
        Response.Redirect("Index.cshtml");
    }
}

<h1>Delete a post</h1>
@Html.ValidationSummary()

<form method="post" id="delete">

    <p><span><b>Title:</b></span><br/>
    <span>@Title</span></p>

    <p><span><b>Content:</b></span><br/>
    <span>@Content</span></p>

    <input type="hidden" name="postID" value="@PostID" />
    <p><input type="submit" name="buttonDelete" value="Delete Post"/></p>
</form>
<p><a href="Index.cshtml" class="Return">Return</a></p>