<div class="picture">
    <a href="~/images/Pierre.jpg" rel="shadowbox">
        <img alt="#" src="~/images/Pierre.jpg"/>
            <div>Pierre</div>
    </a>
    
</div>
<div class="picture">
    <a href="~/images/Jeff.jpg" rel="shadowbox">
        <img alt="#" src="~/images/Jeff.jpg"/>
            <div>Jeff</div>
    </a>
</div>